// Colors
$color-main: blue;
$color-secondary: blue;
$color-warning: blue;
$color-alert: blue;
$color-success: blue;
$color-error: blue;
$color-cancel: blue;

// Fonts
$font-title: 1rem;
$font-subtitle: 1rem;
$font-paragraph: 1rem;
